// Paths
$image-path: '/assets/images/';
$font-path: '/assets/fonts/';

// Header



// Event


// Item



// Loading


// Footer

//$footer-height: 35px;

// Fonts

$font-families: (
  'icomoon', 'OLNEYb'
);

// colors


//$main-color: #0082bd;





