// Paths
$image-path: '/assets/images/';
$font-path: '/assets/fonts/';

// Header


// Footer

//$footer-height: 35px;


// Fonts
$font-families: (
  'icomoon', 'OLNEYb'
);

// colors


// container-max-widths

$browser-context: 16;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1139px;

// body size
$body-font-size: (null: 16, $lg:15, $md: 14, $sm: 13);

